* {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    max-width: inherit;
  }
}

.--purple {
  color: #9d51ff !important;  
}

.--yellow {
  color: #ffd338 !important;
}

.carousel {
  display: flex;
  position: relative;
  height: 561px;
  width: 100vw;
  justify-content: center;
  color: #333333;

  .carousel__controls {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    display: flex;
    gap: 15px;

    .carousel__button {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: #9ee7de;
      border: 1.5px solid #3d3d3d;
      cursor: pointer;

      transition: background-color 0.2s ;
      transition: border-color 0.2s ;
      
      &--active {
        background: #1ebeab;
      }
    }
  }
}

.carousel__wrapper {
  display: flex;
  position: relative;
  // overflow-x: scroll;
  overflow: hidden;
  justify-content: flex-start;
  padding: 32px;
  flex: 1;
  width: 100%;
  background: url(/img/bannerBg.svg) no-repeat right;
  background-position-x: 52vw;
  max-width: 984px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }
}

// @keyframes carousel {
//   0% { margin-left: 0; }
//   30% { margin-left:0; }
//   35% { margin-left: -100%; }
//   65% { margin-left: -100%; }
//   70% { margin-left: -200%; }
//   95% { margin-left: -200%; }
//   100% { margin-left: -300%; }
// }

.carousel__container {
  position: absolute;
  display: flex;
  // flex: 1;
  width: 400%;

  animation-duration: 20s;
  animation-name: carousel;
  animation-iteration-count: infinite;
}

.carousel__item {
  position: relative;
  display: flex;
  // flex: 1;
  scroll-snap-align: start;
  padding-left: 32px;

  // width: 100vw;
  width: 100%;
  max-width: 984px;
  
  align-items: flex-start;
  flex-direction: column;
  font-size: 39px;
  line-height: 40px;

  h1 {
    font-size: inherit;
    line-height: inherit;
    font-weight: 700;
    max-width: 325px;
  }

  span {
    font-size: inherit;
    color: #ff8151;
  }

  button {
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    background: #1ebeab;
    border-radius: 40px;
    border:none;
    padding: 12px 0;
    margin-top: 40px;
    font-size: 18px;
    max-width: 310px;
    cursor: pointer;

    transition: background-color 0.6s ease;
  }

  button:hover {
    background: #148073;
  }
}

.carousel__texts {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 40px;

  img {
    max-width: 134px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 18px;
    line-height:24px;

    h2 {
      color: #ff8151;
      font-size: inherit;
      line-height:inherit;
      font-weight: 700;
      margin-bottom: 4px;
    }

    h3 {
      font-size: inherit;
      line-height:inherit;
      font-weight: 600;
      max-width: 200px;

    }
  }
}

@media screen and (min-width: 650px) {
  .carousel {
    height: 501px;
  }

  .carousel__wrapper {
    padding: 48px;
  }

  .carousel__texts {
    flex-direction: row;
    gap: 15px;

    &__content {
      justify-content: center;
    }
  }
}

@media screen and (min-width: 768px) {
  .carousel {
    height: 541px;
  }

  .carousel__wrapper {
    background-position-x: 100%;
  }

  .carousel__item {
    font-size: 48px;
    line-height: 48px;

    h1 {
      max-width: 380px;
    }
  }
}

@media screen and (min-width: 960px) {
  .carousel {
    height: 500px;
  }

  .carousel__item {
    font-size: 60px;
    line-height: 56px;
    padding-left: 0;
    
    h1 {
      max-width: 630px;
    }
  }

  .carousel__texts {
    &__content {
      font-size: 24px;
      line-height: 24px;

      h3 {
        font-weight: normal;
        max-width: 260px;
      }
   }
 }
}